/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */

main {
    overflow:auto;
    min-width:45rem;
    
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

.article-image {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figcaption {
    margin:.375rem 0;
}

nav {
    
    width:11.25rem;
}

footer {
    clear: both;
    margin-top:1.5rem;
    border-bottom: none;
}

main {
    column-count: 2;
}

.subsection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.625rem;
    width:50%;
    max-width:5rem;
}

.box1{
    grid-column: 1;
    gap: 0.625rem;
}
.box2{
    grid-column: 2;
    gap: 0.625rem;
}
.box3{
    grid-column: 3;
    gap: 0.625rem;
}

/* header and footer */

header {
  border-top: .125rem solid #000;
  border-bottom: .125rem solid #000;
}

/* Links */
a {
    text-decoration: none;    
}

a:link{
    color: #01365f;
    text-decoration: none;
}
a:visited{
    color: #01365f;
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none;    
}

/* Nav Menu */
nav {
    margin-top: 0.25rem;
}

nav a{
    display: block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

nav a:focus, nav a:hover {
    color: #000;
}

nav a:active{
    color:#000;
}

/* Aside */
.aside {
    border-left: 0.125rem solid #000;
}
